In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df = application_df.drop(columns = ["EIN", "NAME", "STATUS"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1

In [3]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
app_type = application_df["APPLICATION_TYPE"].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
application_df = application_df.drop(columns = ["ASK_AMT"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,1

In [7]:
application_df.nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
IS_SUCCESSFUL              2
dtype: int64

In [8]:
app_type = application_df["APPLICATION_TYPE"].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
application_types_to_replace = list(app_type.iloc[8:].index)
cutoff_value = 550

for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
class_value = application_df["CLASSIFICATION"].value_counts()
class_value.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
class_filtered = class_value.loc[class_value > 2]
class_filtered

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
Name: CLASSIFICATION, dtype: int64

In [13]:
classifications_to_replace = list(class_value.iloc[5:].index)
cutoff_value = 1000

for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
numeric = pd.get_dummies(application_df)
numeric.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [15]:
y = numeric["IS_SUCCESSFUL"].values
X = numeric.drop(columns = "IS_SUCCESSFUL").values

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [16]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
input_features = len(X_train[0])
hidden_nodes_1 = 8
hidden_nodes_2 = 5

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units = hidden_nodes_1, input_dim = input_features, activation = "relu"))

nn.add(tf.keras.layers.Dense(units = hidden_nodes_2,  activation = "relu"))

nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 336

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 387
Trainable params: 387
Non-trainable params: 0
_________________________________________________________________

In [18]:
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [19]:
train_model = nn.fit(X_train_scaled, y_train, epochs = 40)

Epoch 1/40
804/804 [==============================] - 2s 2ms/step - loss: 0.6283 - accuracy: 0.6862
Epoch 2/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5787 - accuracy: 0.7244
Epoch 3/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5709 - accuracy: 0.7270
Epoch 4/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5666 - accuracy: 0.7286
Epoch 5/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5633 - accuracy: 0.7297
Epoch 6/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5606 - accuracy: 0.7298
Epoch 7/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7294
Epoch 8/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7297
Epoch 9/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7301
Epoch 10/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7310
Epoch 11/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7308
Epoch 12/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7308
Epoch 13/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7297
Epoch 14/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7307
Epoch 15/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7308
Epoch 16/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7307
Epoch 17/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7313
Epoch 18/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7303
Epoch 19/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7308
Epoch 20/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7313
Epoch 21/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7309
Epoch 22/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7307
Epoch 23/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7319
Epoch 24/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7323
Epoch 25/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7314
Epoch 26/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7317
Epoch 27/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7311
Epoch 28/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7315
Epoch 29/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7311
Epoch 30/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7320
Epoch 31/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7317
Epoch 32/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7324
Epoch 33/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7323
Epoch 34/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7317
Epoch 35/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7320
Epoch 36/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7314
Epoch 37/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7316
Epoch 38/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7322
Epoch 39/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7315
Epoch 40/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7323

In [20]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5520 - accuracy: 0.7280 - 1s/epoch - 5ms/step
Loss: 0.5519883036613464, Accuracy: 0.7280466556549072

In [28]:
input_features_total = len(X_train[0])
hidden_nodes_1 = 20
hidden_nodes_2 = 15

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim = input_features_total, activation = "relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation = "relu"))

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 20)                840

 dense_10 (Dense)            (None, 15)                315

 dense_11 (Dense)            (None, 1)                 16

=================================================================
Total params: 1,171
Trainable params: 1,171
Non-trainable params: 0
_________________________________________________________________

In [29]:
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [30]:
train_model = nn.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7067
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7286
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5553 - accuracy: 0.7295
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7297
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7301
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7303
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7301
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7309
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7311
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7328
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7322
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7330
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7317
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7325
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7322
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7321
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7325
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7331
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7326
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7326
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7332
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7329
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7323
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7334
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7343
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7321
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7340
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7331
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7339
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7339
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7340
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7352
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7339
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5428 - accuracy: 0.7352
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7353
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7356
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7341
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5422 - accuracy: 0.7339
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7351
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7360
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7369
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7337
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7346
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7355

In [31]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5500 - accuracy: 0.7322 - 536ms/epoch - 2ms/step
Loss: 0.5499795079231262, Accuracy: 0.7322449088096619

In [24]:
input_features_total = len(X_train[0])
hidden_nodes_1 = 30
hidden_nodes_2 = 30

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim = input_features_total, activation = "relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation = "relu"))

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 30)                1260

 dense_7 (Dense)             (None, 30)                930

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 2,221
Trainable params: 2,221
Non-trainable params: 0
_________________________________________________________________

In [25]:
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [26]:
train_model = nn.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5785 - accuracy: 0.7133
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7275
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7294
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7308
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7306
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7317
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7332
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7311
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7326
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7347
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7320
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7336
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7328
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7342
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7342
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7348
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7345
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7339
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5439 - accuracy: 0.7348
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5437 - accuracy: 0.7340
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7347
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5435 - accuracy: 0.7335
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5429 - accuracy: 0.7347
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5426 - accuracy: 0.7358
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5426 - accuracy: 0.7350
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5421 - accuracy: 0.7358
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7360
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5422 - accuracy: 0.7350
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7375
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5417 - accuracy: 0.7365
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7358
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7362
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7369
Epoch 42/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5413 - accuracy: 0.7366
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - accuracy: 0.7366
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - accuracy: 0.7370
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5407 - accuracy: 0.7372
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5407 - accuracy: 0.7365
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7372
Epoch 50/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7358

In [27]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5521 - accuracy: 0.7285 - 522ms/epoch - 2ms/step
Loss: 0.5520505309104919, Accuracy: 0.7285131216049194

In [32]:
filepath = r"C:\Users\Kylez\Desktop\deep-learning-challenge\AlphabetSoupCharity_Optimization.h5"
nn.save(filepath, save_format = "h5")